/* Header Nav */
#logo-img { /* logo Image */  
  background: url('https://github.com/Sagar-Togra/Sagar-Togra/blob/46a99dbddd1d4b12583648ecdb5a5d92c6e1fb0b/Images/Logo.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  border: 0;
  border-radius: 30px;
}
#header-nav {
  background-color: #debb10;
  border: 0;
  border-radius: 0;
}
.navbar-brand h1 {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #debb10;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;  
  border-radius: 5px;
  padding: 10px 10px;  
  font-size: 2.4em;
}
.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}
@media (max-width: 767px) {
  
}
