/** START OF HEADER **/
header {
  background-color: #debb10;
  height: 50px;
  text-align: center;
}
#menu {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
nav a {
  text-decoration: none;
}
#menu a:link , #menu a:visited {
  color: white;
}
.menulink a:hover {
  background-color: white;
  color: #debb10;
}
#menu div {
  border: 1px solid white;
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
/** END OF HEADER **/
/** MEDIA QUERIES **/
@media (max-width: 767px) {
  header {
    height: 200px;
  }
}
#property {
  text-align: center;
}
#property a:visited, #property a:link, #property a:hover, #property a:active {
  text-decoration: none;
  color: white;
}
.project {
  border: 1px solid #debb10;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #debb10;
  margin-left: auto;
  margin-right: auto;
}
#chp h2 {
  margin-top: 0;
  vertical-align: middle;
}