html {
	font-size: 14px;
}
ol {
	color: #E98074;
}
ol span {
	color: #8E8D8A;
}
.bold {
	font-weight: 600;
	color: #E98074;
}
#auto	{
	height: auto;
}
.border {
	border: 2px solid #8e8d8a;
	color: #8e8d8a;
	background-color: #D8C3A5;
}
/** Absolute Length **/
#cm {
	height: 2.54cm;
}
#mm {
	height: 25.4mm;
}
#in {
	height: 1in;
}
#px {
	height: 96px;
}
#pt {
	height: 72pt;
}
#pc {
	height: 6pc;
}
/** Relative Length **/
#relative {
	font-size: 17px;
}
#em {
	height: 3em;
}
#rem {
	height: 3rem;
}
#ex {
	height: 6ex;
}
#ch {
	height: 5ch;
}
#vw {
	height: 10vw;
}
#vh {
	height: 10vh;
}
#vmin {
	height: 10vmin;
}
#vmax {
	height: 10vmax;
}
#percent_parent {
	height: 50px;
}
#percentage {
	height: 80%;
}
/** End of Relative length **/
#initial {
	height: initial;
}
#inherit_parent {
	height: 50px;
}
#inherit {
	height: inherit;
}
div.related_posts {
	text-align: center;
	color: #8e8d8a;
	background-color: #D8C3A5;
}
a.related_posts {
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
div.related_posts {
	margin-bottom: -5px;
}